services:
  vs1984:
    build: .
    container_name: vs1984
    network_mode: "host"
    environment:
      - NODE_ENV=production
      - PORT=4000

      - LD_LIBRARY_PATH=/app/lib/native/lib

      - VS1984_HOME=/app/vshome
    volumes:

      - ./vshome:/app/vshome
    restart: unless-stopped
    ulimits:
      nofile:
        soft: 1048576
        hard: 1048576
